<p>divisac works!</p>
<div class="container-fluid">
    <div class="row  col-md-12  ">
        <div class="col-md-4  col-sm-12 bg-dark" style="margin-left: auto; margin-right: auto ;">
            <aside class="row">
                <form #divisaForm="ngForm">
                    <div class="mb-3">
                        <label for="cantidad" class="form-label">Cantidad</label>
                        <tr></tr>
                        <input name="from_value" [(ngModel)]="from_value" placeholder="Ingrese cantidad">
                    </div>
                    <div class="mb-3">
                        <label for="de" class="form-label">DE</label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                            [(ngModel)]="from_type" name="from_type">

                            <option value="ARS">ARS</option>
                            <option value="EUR">EUR</option>
                            <option value="GBP">GBP</option>
                            <option value="JPN">JPN</option>
                            <option value="CNY">CNY</option>
                            <option value="AUD">AUD</option>
                            <option value="BTC">BTC</option>
                            <option value="USD">USD</option>
                        </select>
                    </div>
                    <div class="mb-1">
                        <label for="as" class="form-label">A</label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                            [(ngModel)]="to_type" name="to_type">

                            <option value="USD">USD</option>
                            <option value="EUR">EUR</option>
                            <option value="NZD">NZD</option>
                            <option value="JPN">JPN</option>
                            <option value="CNY">CNY</option>
                            <option value="AUD">AUD</option>
                            <option value="BTC">BTC</option>
                            <option value="ARS">ARS</option>
                        </select>
                    </div>

                    <div id="email" class="mb-3">
                        <label for="cantidad" class="form-label">EMAIL</label>
                        <tr></tr>
                        <input type="email" placeholder="Ingrese email" required maxlength="500" minlength="2"
                            [(ngModel)]="divis.emailCliente" name="emailCliente" #iml="ngModel">
                        <div *ngIf="iml.invalid && (iml.dirty || iml.touched)" class="alert alert-danger">
                            error complete el campo de email
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="tasaConversion" class="form-label">tasaConversion</label>
                        <tr></tr>
                        <input name="from_value2" [(ngModel)]="divis.tasaConversion" placeholder="Ingrese tasaConversion">
                    </div>

                    <!--div class="form-floating">
                <textarea class="form-control"  id="floatingTextarea" disabled value={{valor}}></textarea>
                <label for="floatingTextarea"  >{{valor}} </label>
              </div-->

                    <div class="form-floating">
                        <textarea class="form-control disabled" placeholder="Leave a comment here" id="floatingTextarea"
                            disabled>{{valor}}</textarea>
                        <label for="floatingTextarea">{{valor}}</label>
                    </div>


                    <div class="mb-3">
                        <button [disabled]="!divisaForm.form.valid" id="com" type="submit" class="btn btn-warning"
                            (click)="cotizar()">Convertir</button>
                    </div>
                </form>
            </aside>
        </div>
    </div>