<p>ticform works!</p>
<div class="card">
    <div class="card-header">
      GESTION DE Ticket
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="idprecioTicket" class="form-label">precioTicket</label>
                <input name="precioTicket" type="number" class="form-control" id="idprecioTicket"
                   [(ngModel)]="ticke.precioTicket"  >
              </div>
              <div class="mb-3">
                <label for="idcategoriaEspectador" class="form-label">categoriaEspectador</label>
                <textarea name="categoriaEspectador" class="form-control" id="idcategoriaEspectador" rows="3"
                [(ngModel)]="ticke.categoriaEspectador" ></textarea>
              </div>
              <div class="mb-3">
                <label for="idfechaCompra" class="form-label">fechaCompra</label>
                <input name="fechaCompra" type="text" class="form-control" id="idfechaCompra"
                [(ngModel)]="ticke.fechaCompra" >
              </div>
              <div class="mb-3">
                <label for="idticketP" class="form-label">espectador</label>
                <select class="form-select" name="ticketP" style="width: 20%" 
                [(ngModel)]="ticke.ticketP">
                  
                  <option *ngFor="let tic of esp" [ngValue]="tic" >{{tic.apellido}}, {{tic.nombre}}</option>
                  
                </select>
              </div>

              <button type="button" class="btn btn-primary" (click)="guardarTicket()">Guardar</button>              
              <button type="button" class="btn btn-primary" (click)="actualizarTicket()">Actualizar</button>              

        </form>
    </div>
