  <nav class="navbar navbar-expand-lg navbar-light  bg-dark">
    <div class="container-fluid"> 
       
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="btn btn-primary " aria-current="page" [routerLink]="['slider']">SLIDER</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" aria-current="page" [routerLink]="['altaprod']">ALTA PRODUCTO</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" aria-current="page" [routerLink]="['divisa']">Divisa</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" aria-current="page" [routerLink]="['lista divisa']">Lista-Divisa</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" aria-current="page" [routerLink]="['ticket']">ticket lista</a>
          </li>
          <!--li class="nav-item">
            <a class="btn btn-primary" aria-current="page" [routerLink]="['ticform']">agregar ticket </a>
          </li-->
        </ul>
         
      </div>
    </div>
  </nav>

  <br>
